<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>工厂模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A51ED47E1E78C607009117D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A51ED4971E78C607009117D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A51ED4A21E78C607009117D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
