<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>简单工厂模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A50AC4DE1E77E5CD00FA9FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A50AC4F71E77E5CD00FA9FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A50AC5021E77E5CD00FA9FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
